”/*------------------------------*/
input, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Helvetica, Calibri, sans-serif;
    background: #682721;
}
/*------------------------------*/


/*------------------------------*/
header {
    background: #682721;
}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
}
/*------------------------------*/


/*------------------------------*/
.navbar {
  width: 100%;
  background-color: #4D1D18;
  overflow: auto;
}


.navbar a  {
  float: left;
  padding: 12px;
  color: #F5F3EF;
  text-decoration: none;
  font-size: 17px;
  width: 20%; 
  text-align: center;
}


.navbar a:hover {
  background-color: #555;
}


.active {
  background-color: #555;
}
/*------------------------------*/


/*------------------------------*/
img {
    max-width: 100%;
    max-height: 100%;
}


.photo-block {
    background-color: #682721;
    padding: 20px;
}


.apartment-photos {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    background-color: #4D1D19;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "photobath photogarden"
        "photobath photofront"  
}


.photo-bath {
    grid-area: photobath;
    border: 5px solid #F5F3EF;
}


.photo-bath img {
    width: 100%;
    height: 100%;
}


.photo-garden {
    grid-area: photogarden;
    border: 5px solid #F5F3EF;
}


.photo-garden img {
    height: 100%;
}


.photo-front {
    grid-area: photofront;
    border: 5px solid #F5F3EF;
}


.photo-front img {
    height: 100%;
}
/*------------------------------*/


/*------------------------------*/
.description-and-booking {
    background-color: #87423C;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "description container"
        "description .";
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.description {
    grid-area: description;
    margin-left: 20px;
    text-align: justify;
}

.description-thinner {
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

.container {
    grid-area: container;
    margin-right: 40px;
    margin-left: 50px;
    margin-top: 30px;
}


.description-heading {
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
  background-color: #682721;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #87423C;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/*------------------------------*/


/*------------------------------*/
.info-and-contact {
    background-color: #87423C;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
        "description container";
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.details {
    grid-area: description;
    margin-left: 20px;
    text-align: justify;
}

.container {
    grid-area: container;
    margin-right: 40px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
}
/*------------------------------*/


/*------------------------------*/
.testimonial-section {
    background-color: #682721;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

#testimonials-italics {
    font-style: italic;
}
/*------------------------------*/



/*------------------------------*/
h1 {
    color: #87423c;
    font-size: 36px;
    margin-left: 20px;
    margin-right: 20px;
}


h2 {
    text-align: left;
    color: #4d1d19;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


h3 {
    text-align: left;
    color: #4d1d19;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


p {
    line-height: 150%;
    margin-left: 20px;
    margin-right: 20px;
    color: #F5F3EF;
}
/*------------------------------*/


/*------------------------------*/
.location-section {
    background-color: #87423C;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    max-width: 1200px;
    border: 10px solid #F5F3EF;
}

.directions {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "dhow dish"
        "dhowd dishd";
        
}

#direction-how {
    grid-area: dhow;
}

#direction-how-detail {
    grid-area: dhowd;
}

#distance-how {
    grid-area: dish;
}

#distance-how-detail {
    grid-area: dishd;
}
/*------------------------------*/


/*------------------------------*/
footer {
    background-color: #682721;
    color: #87423c;
    padding: 50px;
}
    

.footer-elements {
    display: grid;
    grid-template-columns: 90% 5% 5%;
    grid-template-areas:
        "copyright face insta";
}


#copyright-info {
    grid-area: copyright;
}

#facebook {
    grid-area: face;
}

#instagram {
    grid-area: insta;
}

footer a {
    text-decoration: none;
    color: #87423c;
}
/*------------------------------*/